<!DOCTYPE html>
<html>
<head>
    <title>Personal Budgeting App</title>
    <link rel="stylesheet" href="../static/styles.css" type="text/css"/>
</head>
<body>
    <script src="../static/javascript.js"></script>
    <h1>Upload a CSV</h1>
    <div>
        <input id="file-upload1" class="file-upload" type="file" placeholder="Select a CSV file for upload">
    </div>
    <div> 
        <button class="primary-button" onclick="uploadfile()">Upload</button> 
    </div>
        <p class="result-display" id="uploadfile_result"></p>
    <div> 
</body>
</html>